.boximage{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
   
    .list{
        background-color: lightblue;
        border: 1px solid black;
      height: 199px;
      width: 300px;
      border-radius: 19px;
      text-align: center;
      text-transform: capitalize;
  

    }
    img{
        height: 80px;
        width: 80px;
        border-radius: 80px;
    }
   
    }




